<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Yourself</title>
    <script src="https://kit.fontawesome.com/240270ce6a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{!-- <link rel="icon" href="/assets/images/comments-solid.svg"/> --}}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Express Yourself</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/">
              <i class="fas fa-home" style="display:inline; align:center;">
              </i> Home </a>
            |
            <a href="/dashboard">Dashboard</a>
            |
            <a href="/" id="logout">Logout</a>
          {{else}}
            <a href="/dashboard">Dashboard | </a>
            <a href="/login">Login / </a>
            <a href="/sign-up">Sign Up</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Share Something Meaningful &hearts;
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      <script src="/javascript/force-logout.js"></script>
    {{/if}}
  </body>

</html>