{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit"><i class="fa-solid fa-plus"></i> Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments comments=post.comments sessionUser=sessionUser }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}