{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{else}}
<section>
  <h2><em>You Don't Have Any Posts Yet!</em></h2>
</section>
{{/if}}

<a href="/new-post" class="create-post-btn" style="text-align:center;display:block;"> Create A New Post</a>
