{{!-- form for editing comments --}}
  <form class="edit-comment-form">
    <div>
      <textarea name="comment-text" value="{{commment.comment-text}}">{{commment.comment-text}}</textarea>
    </div>

    <button class="save-comment" type="submit">Save Edited Comment</button>
    
  </form>
</article>

<script src="/javascript/edit-comment.js"></script>